<section class="container">
    <h1>{{name}}'s Profile</h1>

    {{!-- render all the user's projects --}}
    <section class="flex-row justify-center">
        {{#each projects as |project|}}
        {{>project-details}}
        {{/each}}
    </section>
</section>

{{!-- form to create a new project --}}
<section>
    <h2>
        Add a new dog
    </h2>
    <form class="new-project-form">
        <label for="project_name">
            Dog Name:
        </label>
        <br />
        <textarea id="project_name" name="project_name" rows="2" cols="30">

    </textarea>
        <br />
        <label for="description">
            Description:
        </label>
        <br />
        <textarea id="description" name="description" rows="5" cols="30">

    </textarea>
        <br />
        <label for="needed_funding">
            Breed:
        </label>
        <br />
        <textarea id="needed_funding" name="needed_funding" rows="2" cols="30">

    </textarea>
        <br />
        <br />
        <button type="submit" value="Submit">
            Submit
        </button>
    </form>
</section>
<script src="./public/js/add_project"></script>