  {{#each css}}
        <link rel="stylesheet" href="public/css/style.css"{{style.css}}>
    {{/each}}
<div class='row'>
  <form id='create-post-form'>
    <input id='create-post-videogame' placeholder="Video Game Title:" type='text' />
    <input id='create-post-console' placeholder="Console Type:" type='text' />
    <textarea id='create-post-content' placeholder="Write review here!"></textarea>
    <button id='create-post-save-button'>Save Post</button>
  </form>
</div>

<script src='/js/post.js'></script>