<div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">
        <div class="ui facebook button">
            <i class="facebook icon"></i>
            <a href="/auth/facebook" style="color: white;">Login with Facebook</a>
        </div>
    </div>
</div>
<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>