@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

body {
  background-color: #EFDDC9;
}

main {
  width:100%;
  margin: 50px auto;
  text-align: center;
  /* this will keep the footer at the bottom of the page */
  /* its 100% of the view port minus the box of the footer and the box of the header */
  /* min-height: calc(100vh - ); */
}

header {
  text-align: center;
  background-color: #7CB9AD;
  color: #404674;
}


footer {
  text-align: center;
  background-color: #7CB9AD;
  color: #404674;
}